<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <f:view>
            <h:form>
                Produto: <h:inputText 
                    value="#{controlador.produto}" />
                <h:commandButton value="Add" 
                                 action="#{controlador.add}" />
                <h:commandButton value="Acabar com Tudo" 
                                 action="#{controlador.finalizar}" />

                <h:dataTable value="#{controlador.produtos}"
                             var="p" 
                             border="2">
                    <h:column id="column1">
                        <f:facet name="header">
                            <h:outputText value="Produto" />                   
                        </f:facet>
                        <h:outputText value="#{p}" />
                    </h:column>
                    <h:column id="column2">
                        <f:facet name="header">
                            <h:outputText value="Remover" />                   
                        </f:facet>
                        <h:commandButton value="Remover" action="#{controlador.removerProduto(p)}"/>
                    </h:column>
                </h:dataTable>
            </h:form>
        </f:view>
    </h:body>

</html>

